@import "../../src/sass/bootstrap4/variables";

$big-fish-yellow: #fed90e;
$big-fish-sky: rgb(0, 110, 255);
$big-fish-green: #034e00;

$big-fish-navbar-toggle-breakpoint: 1000px;
$big-fish-outline-thickness: 1px;

/* GENERAL */

body.big_fish {
  background: $big-fish-sky;
  background-image: url("../img/src/big-fish/sky.gif");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  position: relative;
  min-width: 500px;
  padding-bottom: 200px;
  &.landing {
    padding-bottom: 100px;
  }
}

@media (max-width: map-get($grid-breakpoints, sm)) {
  body.big_fish {
    padding-bottom: 300px;
    &.landing {
      padding-bottom: 150px;
    }
  }
}

.big_fish {
  width: 100%;
  height: 100%;
  font-family: Bodoni72;
  font-weight: 500;
  color: $big-fish-yellow;
  font-size: 25px;
  margin: 0;

  h1, h2, h3, h4, h5, h6, #foreground {
    font-family: bigFishHeading;
    text-shadow: 3px 2px #000;
  }
  
  h1 {
    font-size: 8rem;
  }

  #foreground,
  #page-wrapper,
  .musical,
  #full-width-page-wrapper,
  #single-wrapper,
  #page-wrapper {
    background-color: transparent;
    min-height: auto;
    text-shadow: 1px 1px 3px #000;
  }

  /* LANDING PAGE */

  #musical_title {
    margin-top: 30px;
    h1, h2 {
      text-align: center;
    }
    h2 {
      font-size: 1.5rem;
    }
    p {
      font-size: 1rem;
      margin-bottom: 0;
    }

    
  }

  #musical_logo {
    overflow: hidden;
    position: relative;
    top: -70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;

    img {
      max-height: 50vh;
      min-height: 520px;
      max-width: none;
    }

    a#ticket-link {
      color: $big-fish-green;
      text-decoration: none;
      &:hover, &:focus {
        opacity: 0.8;
      }
    }

    #goto-musical-page {
      position: absolute;
      bottom: 8%;
      left: 0;
      width: 100%;
      text-align: initial; 
      color: $big-fish-green;
      &:hover, &:focus {
        opacity: 1;
        color: $big-fish-green;
      }
      div {
        position: relative;
        left: 49%;
      }
    }
  }

  /* FOOTER */

  .footer {
    background-image: url("../img/src/big-fish/flowers.gif");
    background-size: 2000px;
    background-repeat: repeat-x;
    background-position-y: -50px;
    padding-top: 90px;
    min-height: 150px;
    overflow-y: hidden;
    height: auto;
    position: absolute;
    width: 100%;
    bottom: 0;
    // font-size: 70%;

    .navbar-dark.navbar {
      .navbar-nav .nav-link {
        color: $big-fish-green;
        
        &:hover, &:focus {
          opacity: 0.8;
        }
      }
      padding-bottom: 0;
    }
  }

  /* NAVBAR TOP BREAKPOINT */

  @media (min-width: map-get($grid-breakpoints, md)) {
    .navbar-expand-md .navbar-toggler {
        display: inline-block;
    }
    .navbar-expand-md .navbar-collapse {
      display: none !important;
      flex-basis: 100%;
    }
  }

  @media (min-width: $big-fish-navbar-toggle-breakpoint) {
    .navbar-expand-md .navbar-toggler {
        display: none;
    }
    .navbar-expand-md .navbar-collapse {
      display: flex !important;
      flex-basis: auto;
    }
  }

  /* TICKET TABLE */

  table.ticket {

    font-family: chaplinHeading;
    text-shadow: initial;
    text-transform: uppercase;
    word-spacing: 0.2em;
    letter-spacing: 0.07em;

    > tbody {

      > tr {

        > th {
          color: $big-fish-green;
          background-color: $big-fish-yellow;
        }

        > td {
          background: rgba(255,255,255,0.3);
          word-spacing: 0;
          letter-spacing: 0;

          &:hover {
            background-color: rgba(255,255,255, 0.5);
          }

          &.noHover:hover {
            background: rgba(255,255,255,0.3);
            color: #000000;
          }

          .ticketAnnotation {
            font-size: 40%;
          }

        }
      }
    }
  }

  /* CHRONIK */

  .chronik {
    margin-bottom: 150px;
    h1 {
      font-size: 2.5rem;
    }
  }

}

@font-face {
  font-family: bigFishHeading;
  src: url("../fonts/ThirstyScriptExtraBoldDemo.otf");
}
